table {
    border:1px solid black;
    width: 100%;
    border-collapse:collapse;
    text-align: center;
  }

  th, td{
    border:1px solid black;
  }

  th:hover{
    background-color: black;
    color: white;
  }

  tr{
    text-align: center;
  }